h1{
	text-align: center;
}
table{
	margin:auto;
	border-collapse: collapse;
	background-color: gray;
}
table, th, td{
	border: 1px solid black;
}
td{
	text-align: center;
}
.labels{
	text-align: left;
}
#centerMessage{
	text-align: center;
}
